@using WebApplication.Utils.Constants
@model IList<WebApplication.Models.SelectableUserViewModel>
<div class="col">
    <div class="row my-3 px-3">
        <div class="col">
            <label class="h1">Admin</label>
        </div>
        <div class="col">
            <div class="nav justify-content-end">
                <a asp-controller="Account" asp-action="SignOut" class="btn btn-primary">Sign out</a>
            </div>
        </div>
    </div>
    <div class="row my-3 px-3">
        <form method="post">
            <table class="table">
                <tr><th>Select</th><th>Username</th><th>Email</th><th>Id</th><th>Registration date</th><th>Last login date</th></tr>
                @for (int i = 0; i < Model.Count; i++)
                {
                    <tr>
                        <td>
                            <input asp-for="@Model[i].IsSelected" />
                        </td>
                        <td>@Model[i].UserName</td>
                        <td>@Model[i].Email</td>
                        <td>
                            <input type="hidden" asp-for="@Model[i].Id" />
                            @Model[i].Id
                        </td>
                        <td>@Model[i].RegisteredAt</td>
                        <td>@Model[i].LastAuthorizedAt</td>
                    </tr>
                }
            </table>
            <button asp-controller="Admin" asp-action="DeleteUsers" type="submit" class="btn btn-sm btn-danger">Delete</button>
        </form>
    </div>
</div>
